<!DOCTYPE html>
<html>
  <head>
    <title>Dtoy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" href="{{url_for('static',filename='img/favicon.ico')}}">
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    {% block otherstatic %}
    {% endblock %}


    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

  {% block fsfunction %}
  {% endblock %}
    
  </head>
  <body>

  <header>
    <div class="container dropdown">
      <h1 class="logo">Dtoy</h1>
      <nav>
        <ul  class="menu">
        {% block header %}
        
        {% endblock %}
        </ul>
      </nav>
    </div>
  </header>

    <div class="container" id="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
